{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Portal</title>
    <link rel="stylesheet" href="{% static 'css/patientportal.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />
    
</head>

<body>
  <div class="headingContainer">
    <h1 class="mainHeading">Patient Portal</h1>
  </div>
    <nav>
      <div class="btnContainer">
        <button class="button-primary"><a href="{% url 'patient_list' %}">Patient List</a></button>
      </div>  

        <div class="user-info">
            {% if user.is_authenticated %} Welcome, {{ user.username }}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            
            {% endif %}
          </div>

    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>