{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Patient Portal</title>
    
</head>

<body>
    <h1>Patient Portal</h1>
    <nav>

        <button><a href="{% url 'patient_list' %}">Patient Data</a></button>
        

        <div class="user-info">
            {% if user.is_authenticated %} Welcome, {{ user.username }}
            <a href="{% url 'logout' %}">Logout</a>
            {% else %}
            <a href="{% url 'login' %}">Login</a>
            
            {% endif %}
          </div>

    </nav>

    {% block content %}
    {% endblock %}

</body>

</html>